.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.container {
  padding: 16px;

  @include tablet {
    padding: 24px;
  }
}

.card {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.toolbar .toolbar__content > .btn.toolbar-trigger:first-child {
  @include max-tablet {
    margin-left: 8px;
  }
}

nav.primary.toolbar {
  @include tablet {
    padding-left: 0 !important;
  }
}
