.hidden-xs {
  display: none !important;
}

.hidden-sm {
  @include phablet {
    display: none !important;
  }
}

.hidden-md {
  @include tablet {
    display: none !important;
  }
}

.hidden-lg {
  @include desktop {
    display: none !important;
  }
}

.visible-xs {
  display: block !important;
}

.visible-sm {
  @include phablet {
    display: block !important;
  }
}

.visible-md {
  @include tablet {
    display: block !important;
  }
}

.visible-lg {
  @include desktop {
    display: block !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

