$phablet-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;

@mixin phablet {
  @media (min-width: #{$phablet-width}) {
    @content;
  }
}

@mixin max-phablet {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: #{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@function remc($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
