@import 'fonts';
@import 'variables';
@import 'forms';
@import 'mixins';

@import '../../../node_modules/bootstrap/scss/bootstrap';

.pointer {
  cursor: pointer;
}

.form-control-feedback {
  display: block;
}

a {
  &:not([href]) {
    &:not([tabindex]) {
      text-decoration: underline;
    }
  }
}

main, footer {
  margin-top: 5rem;
}

.jumbotron {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.jumbotron ~ main {
  margin-top: 3rem;
}
