@import 'fonts';
@import 'variables';
@import 'forms';
@import 'mixins';

@import '../../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';

*, *:before, *:after {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.form-control-feedback {
  display: block;
}

main, footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 1140px;
}

main {
  margin-bottom: 10rem;
}

fieldset {
  padding: 0;
  margin: 1rem 0 0 0;
  border: 0;
}

.jumbotron ~ main {
  margin-top: 3rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.h-100 {
  height: 100% !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
  -webkit-box-pack: center !important;
}

.md-card {
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
}

p {
  margin: 0 0 1rem;
}

.text-center {
  text-align: center;
}

[class^='col-'] .md-card {
  &:not(:first-child) {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
  }
}

.md-table-head-text,
.md-table-cell-container {
  font-size: .875rem;
}

.accordion {
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    overflow: hidden;

    > label {
      position: relative;
      display: block;
      padding: 0 0 0 1em;
      line-height: 3;
      background-color: #3f51b5;
      color: #fff;
      cursor: pointer;
    }
  }

  input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
  }

  input:checked ~ .tab-content {
    max-height: 100rem;
    height: auto;
    padding: 30px 60px;
    background-color: #E8EAF6;
  }

  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  input {
    &[type=checkbox] + label::after {
      content: "+";
    }
    &[type=radio] + label::after {
      content: "\25BC";
    }
    &[type=checkbox]:checked + label::after {
      transform: rotate(315deg);
    }
    &[type=radio]:checked + label::after {
      transform: rotateX(180deg);
    }
  }
}
