@import 'mixins';
@import 'typography';
@import 'variables';
@import 'forms';
@import 'layout';
@import '../../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';
html,
body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

main {
  &.contained {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    width: 1140px;
    padding: 6rem 1rem 6rem 1rem;

    @include tablet {
      padding: 8rem 1rem 6rem 1rem;
    }

    &.wide {
      width: 90%;
    }
  }
}

fieldset {
  padding: 0;
  margin: 1rem 0 0 0;
  border: 0;
}

.jumbotron~main {
  margin-top: 3rem;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.h-100 {
  height: 100% !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
  -webkit-box-pack: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
}

p {
  margin: 0 0 1rem;
}

.text-center {
  text-align: center;
}

.expansion-panel {
  margin-bottom: .5rem;
}

.expansion-panel__header {
  background-color: #f2f2f2;
}

.expansion-panel__body {
  background-color: #fff;
  padding: 1rem 2rem;

  .card__text {
    background-color: #fff;
  }
}

.expansion-panel__buttons {
  padding-top: .75rem;
}

.stepper {
  margin-bottom: 1rem;
}

.select-label {
  display: block;
  width: 100%;
  margin: 1rem 0;

  &~.input-group {
    margin-top: 2rem;
  }
}

.dialog__container {
  display: block;
}

.d-none {
  display: none !important;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fixed-bottom {
  bottom: 0;
  height: 30px;
  left: 0;
  position: fixed;
  width: 100%;
}

.thumbnail {
  img {
    max-width: 200px;
    max-height: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
      opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

    &.placeholder {
      cursor: pointer;
    }
  }

  .overlay {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
  }

  &:hover img:not(.placeholder) {
    opacity: .3;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.inline-radio {
  .input-group.radio {
    display: inline-block;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.stepper {
  border: 1px solid #d5d5d5;

  .stepper__content {
    padding: 2rem;
  }

  .stepper__header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d5d5d5;
  }
}

.input-group {

  .input-group__messages {
    display: none;
  }

  &--dirty,
  &--error {

    .input-group__messages {
      display: block;

      .input-group__error:not(:first-child) {
        display: none;
      }
    }
  }
}

.list__tile {
  white-space: nowrap;
}

img {
  &.responsive {
    display: block;
    height: auto;
    width: 100%;
  }
}

.row {
  &.no-gutter {
    margin: 0;

    div[class^='col-'] {
      padding: 0;
    }
  }
}

.card__title {
  color: #fff;

  &:not(.primary) {
    color: #424242;
  }
}

.toolbar {
  &__title {
    margin-left: 0;
  }

  &__items button {
    text-transform: none;
    font-weight: normal;

    &.active {
      border-top: 2px solid transparent !important;
      border-bottom: 2px solid #fff !important;
    }
  }

  &__content {
    height: 48px;
    margin: 0 auto;
    max-width: 1140px;

    >:not(.btn):not(.toolbar__title):last-child {
      margin-right: 0;
    }

    .more.menu {
      button {
        margin-right: 0;
      }
    }
  }
}

header {
  .headline {
    margin-bottom: 20px;
    font-weight: 700 !important;
  }
}

.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}
